// Переменные цветов

$gray: #515f67;
$blue: #4bcaff;
$dark-blue: #0069d9;
$green: #28a745;
$dark-green: #218838;
$red: #f00;
$yellow: #ff0;
$dark-grey: #353f46;

$black: #000;
$white: #fff;

$base-font-sans-serif: 'SegoeUI', sans-serif;
$base-font-serif: 'SegoeUI', serif;

// Основной размер и цвет текста, семейство шрифта и цвет фона
$base-text-color: $black;
$base-background-color: $white !default;
$font-size-base: 16px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;

$base-min-width: 320px;

// Цвет глобальной ссылки
$base-link-color: $blue;

// Формы
$form-element-border-color: $blue;
$form-element-focus-border-color: $blue;
$placeholder-color: $blue ;

// Переменные font-size для заголовков
$h1-font-size: 42px;
$h2-font-size: 30px;
$h3-font-size: 24px;
$h4-font-size: 21px;
$h5-font-size: 17px;
$h6-font-size: 15px;
